body{
	background: url("img/background.jpg");
	text-align: center;
}
#wrapper-background{	
	width: 800px;
	margin: 10px auto;
	background: url("img/wrapper-background.png") repeat-y;
	background-position: center;
}
#label{
	font-size: 18px;
	font-weight: bold;
	color:white;
}
.box1{		
	display: inline-block;	
	text-align: center;
	border:2px solid white;		
	border-radius: 10px;		
	width: 90px;
	height: 20px;			
}
#content{		
	text-align: center;
	width: 700px;
	margin: 30px auto;
	padding-bottom: 20px;
	position: relative;
}
.box2{
	position: absolute;
	top: -25px;
	left: 328px;
}
#central-section{	
	margin: 80px 0px 30px 0px;
	padding: 40px 0px;
	background-color: #D1EEEE;
}
#topic{			
	font-size: 36px;
	color: 	#528B8B;
	font-family: "Microsoft YaHei";
	margin-bottom: 10px;
}
#time{			
	color: grey;
	font-weight: bold;
	margin-bottom: 20px;
}
#comment-area{	
	width: 700px;
	margin: 10px auto;
}
#comment-input{	
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	float: left;
	margin-bottom: 10px;
}
#avatar-default{	
	float: left;
	width: 50px;
	height: 50px;
}
#text-area{
	height: 53px;
	width: 640px;
}
#button{
	font-weight: bold;
	float: right;
	margin-top: 5px;
	margin-right: 3px;
}
#comments{
	font-size: 12px;
	font-weight: bold;
	color: white;
	text-align: left;
	padding-top: 30px;
}
#red-font{
	color: red;
	font-size: 12px;
}
h1{
	font-family: Meddon;
	font-size: 80px;
	color: white;
	padding: 20px 0px;
	margin: 0px;
}			
